/* grid container */
.container {
    display: grid;
    grid-template-columns: repeat(16, 6vw);
    grid-template-rows: repeat(10, 10vh);


}

/* navigation Bar */

.navigation {
    grid-row: 1/2;
    grid-column: 1/16;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
/* navigation Bar left icons */

.left-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    
}
/* navigation Bar right icons */
.right-icon,
.right-icon>ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    flex-wrap: nowrap;

}

/* user profile card */
.user-profile,
.user-profile>div {
    grid-column: 2/5;
    grid-row: 2/11;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;


}

/* User New  post create area */
.create-post {
    grid-column: 5/13;
    grid-row: 2/4;

}

.post-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post-option {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Timeline space */

.timeline {

    grid-row: 4/11;
    grid-column: 5/13;

}

/* Right side Getting new   News upate  */
.linkedin-news {
    grid-row: 2/7;
    grid-column: 13/16;

}

/* Today most viewed courses  */
.today-most-viewed-courses {
    grid-row: 7/10;
    grid-column: 13/16;

}

/*Following new item */
.add-to-your-feed {
    grid-row: 10/13;
    grid-column: 13/16;


}


@media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
  }